*.pyc
.*/
*.c
build
__pycache__
/unreal/vendor
/unreal/uis
/maya/diBianPlugins/vendor
/maya/diBianPlugins/scripts/mayaTools/thirdpart/thirdpart
/maya/diBianPlugins/thirdpart
/maya/ZynnMaya/thirdpart
/maya/ZynnMaya/vendor
