*.pyc
*.mll
*.pyd
.*/
*.c
*.mll
build
__pycache__
/unreal/vendor
/unreal/uis
/maya/diBianPlugins/vendor
/maya/diBianPlugins/scripts/mayaTools/thirdpart/thirdpart
/maya/diBianPlugins/thirdpart
/maya/ZynnMaya/thirdpart
/maya/ZynnMaya/vendor
/maya/ZynnMaya/vendor3
/maya/ZynnMaya/plugins/localTest
/unreal/vendor56
*.dll
/maya/qualoth
